In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
path = 'data/'
data = pd.read_excel(path + 'Oncothromb_bbddMarzo2018.xlsx')
print(data.shape)

(408, 92)

### Clinical data

In [3]:
clinical_vars = ['id','excluido','khorana','estadiGrup','tipusTumor_desc',
                  'sexe','edatDx','etnia','Family','bmi','fumador','diabetesM','dislip',
                  'psIniQT_desc','hemoglobina','leucocits','plaquetes','hta_desc','cateter','cirugiaPrev']

df_clinical = data[clinical_vars]
df_clinical.shape

(408, 20)

In [4]:
df_clinical['tipusTumor_desc'].replace('-', np.NaN, inplace=True)
df_clinical[['fumador','cateter']].replace('Desconocido', np.NaN, inplace=True)
df_clinical['diabetesM'].replace('-', 'No', inplace=True)
df_clinical['dislip'].replace('-', 'No', inplace=True)
df_clinical['psIniQT_desc'].replace(['-','Desconocido'], np.NaN, inplace=True)
df_clinical['hta_desc'].replace('-', 'No', inplace=True)

In [5]:
df_clinical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               408 non-null    int64
 1   excluido         408 non-null    int64
 2   khorana          407 non-null    float64
 3   estadiGrup       406 non-null    object
 4   tipusTumor_desc  407 non-null    object
 5   sexe             408 non-null    object
 6   edatDx           408 non-null    int64
 7   etnia            408 non-null    object
 8   Family           408 non-null    int64
 9   bmi              408 non-null    object
 10  fumador          408 non-null    object
 11  diabetesM        408 non-null    object
 12  dislip           408 non-null    object
 13  psIniQT_desc     400 non-null    object
 14  hemoglobina      408 non-null    float64
 15  leucocits        408 non-null    int64
 16  plaquetes        408 non-null    int64
 17  hta_desc         408 non-null    object
 18  cateter          408 non-null    object
 19  cirugiaPrev      408 non-null    object
dtypes: float64(2), int64(6), object(12)
memory usage: 63.9+ KB

In [7]:
df_clinical.dropna(inplace=True)
df_clinical.shape

(397, 20)

In [8]:
df_clinical['estadiGrup_I'] = [1 if g in ['IA','IB'] else 0 for g in df_clinical['estadiGrup']] 
df_clinical['estadiGrup_II'] = [1 if g in ['IIA','IIB','IIC'] else 0 for g in df_clinical['estadiGrup']] 
df_clinical['estadiGrup_III'] = [1 if g in ['III','IIIA','IIIB','IIIC'] else 0 for g in df_clinical['estadiGrup']]
df_clinical['estadiGrup_IV'] = [1 if g in ['IV','IVA','IVB'] else 0 for g in df_clinical['estadiGrup']]
df_clinical.drop('estadiGrup', axis=1, inplace=True)

df_clinical['tipusTumor_colon'] = [1 if t=='Cáncer colorrectal' else 0 for t in df_clinical['tipusTumor_desc']]
df_clinical['tipusTumor_pancreas'] = [1 if t=='Cáncer de páncreas' else 0 for t in df_clinical['tipusTumor_desc']]
df_clinical['tipusTumor_pulmon'] = [1 if t=='Cáncer de pulmón no microcítico' else 0 for t in df_clinical['tipusTumor_desc']]
df_clinical['tipusTumor_esofago'] = [1 if t=='Cáncer esófago' else 0 for t in df_clinical['tipusTumor_desc']]
df_clinical['tipusTumor_estomago'] = [1 if t=='Cáncer gástrico o de estómago' else 0 for t in df_clinical['tipusTumor_desc']]
df_clinical.drop('tipusTumor_desc', axis=1, inplace=True)

df_clinical['sexe_hombre'] = [1 if t=='Hombre' else 0 for t in df_clinical['sexe']]
df_clinical['sexe_mujer'] = [1 if t=='Mujer' else 0 for t in df_clinical['sexe']]
df_clinical.drop('sexe', axis=1, inplace=True)

df_clinical['etnia_caucasica'] = [1 if t=='Caucásica' else 0 for t in df_clinical['etnia']]
df_clinical['etnia_hispanoamericana'] = [1 if t=='Hispanoaméricana' else 0 for t in df_clinical['etnia']]
df_clinical['etnia_negra'] = [1 if t=='Negra' else 0 for t in df_clinical['etnia']]
df_clinical['etnia_otra'] = [1 if t=='Otra' else 0 for t in df_clinical['etnia']]
df_clinical.drop('etnia', axis=1, inplace=True)

df_clinical['bmi_normal'] = [1 if t=='Normal: BMI ~ 18.5-24.9 Kg/m2' else 0 for t in df_clinical['bmi']]
df_clinical['bmi_overweight'] = [1 if t=='Overweight: BMI ~25-29.9 Kg/m2' else 0 for t in df_clinical['bmi']]
df_clinical['bmi_obese'] = [1 if t=='Obese: BMI > 30 kg/m2' else 0 for t in df_clinical['bmi']]
df_clinical['bmi_underweight'] = [1 if t=='Underweight: BMI < 18.5 Kg/m2' else 0 for t in df_clinical['bmi']]
df_clinical.drop('bmi', axis=1, inplace=True)

df_clinical['fumador_exfumador'] = [1 if t=='Exfumador' else 0 for t in df_clinical['fumador']]
df_clinical['fumador_nunca'] = [1 if t=='Nunca' else 0 for t in df_clinical['fumador']]
df_clinical['fumador_activo'] = [1 if t=='Fumador activo' else 0 for t in df_clinical['fumador']]
df_clinical.drop('fumador', axis=1, inplace=True)

df_clinical['diabetesM'].replace(['No','Sí'], [0,1], inplace=True)
df_clinical['dislip'].replace(['No','Sí'], [0,1], inplace=True)
df_clinical['hta_desc'].replace(['No','Sí'], [0,1], inplace=True)

df_clinical['psIniQT_desc'].replace(['0 Normal Activity',
                      '1 Symptoms of disease, but ambulatory and able to carry out activities of daily living',
                      '2 Out of bed more than 50% of the time, occasionally needs assistance',
                      '3 In bed more than 50% of the time, needs nursing care'], [0,1,2,3], inplace=True)

df_clinical['cateter'].replace(['No','Sí'], [0,1], inplace=True)
df_clinical['cirugiaPrev'].replace(['No','Sí'], [0,1], inplace=True)

In [9]:
df_clinical.shape

(397, 36)

In [10]:
df_clinical.head()

,id,excluido,khorana,edatDx,Family,diabetesM,dislip,psIniQT_desc,hemoglobina,leucocits,plaquetes,hta_desc,cateter,cirugiaPrev,estadiGrup_I,estadiGrup_II,estadiGrup_III,estadiGrup_IV,tipusTumor_colon,tipusTumor_pancreas,tipusTumor_pulmon,tipusTumor_esofago,tipusTumor_estomago,sexe_hombre,sexe_mujer,etnia_caucasica,etnia_hispanoamericana,etnia_negra,etnia_otra,bmi_normal,bmi_overweight,bmi_obese,bmi_underweight,fumador_exfumador,fumador_nunca,fumador_activo
0,19,1,2.0,78,0,0,1,1,12.7,6800,169000,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0
1,1,0,2.0,50,0,0,0,1,13.0,10900,203000,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1
2,14,0,2.0,71,0,0,0,0,14.0,7000,245000,1,1,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,1,0
3,67,0,1.0,68,0,0,1,1,12.4,7700,194000,1,1,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1
4,91,0,0.0,71,0,1,1,1,10.4,8600,284000,1,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1

### Genetic data

In [38]:
genetic_vars = ['id', 'excluido'] + [col for col in data if col.startswith('rs')]
df_genetic = data[genetic_vars]
df_genetic.shape

(408, 56)

In [39]:
df_genetic.replace('NoCall', np.NaN, inplace=True)

In [40]:
# drop columns with more than 2.5% of missing values
df_genetic = df_genetic.loc[:, df_genetic.isnull().mean() <= .025]

In [41]:
df_genetic.shape

(408, 33)

In [42]:
df_genetic.isna().sum()

id              0
excluido        0
rs1801020       0
rs8176719       0
rs7853989       2
rs8176749       1
rs8176750       1
rs2232698       1
rs121909548     2
rs6025          0
rs118203906     0
rs118203905     0
rs5985          0
rs1799963       0
rs4524          2
rs268           9
rs9363864       9
rs9332695       5
rs4149755       9
rs1613662       7
rs2227589       7
rs1063856       8
rs3087505       6
rs45454293      8
rs1039084       9
rs169713       10
rs16861990     10
rs1208134       9
rs11696364     10
rs6034465       9
rs1883888       7
rs150611042     4
rs2036914       7
dtype: int64

In [43]:
df_genetic.dropna(inplace=True)
df_genetic.shape

(382, 33)

In [46]:
df_genetic.drop(['rs118203905','rs150611042'], axis=1, inplace=True) # has only AA values
df_genetic.drop(df_genetic[df_genetic['id']==51].index, inplace=True) # has -- values in all the fields

In [50]:
# option 1
# df_genetic_genetic = pd.get_dummies(df_genetic_genetic)

# option 2
# Computing the number of risk alleles for each gene
df_genetic['rs6025'].replace(['GG','AG'], [0,1], inplace=True)
df_genetic['rs4524'].replace(['CC','CT','TT'], [0,1,2], inplace=True)
df_genetic['rs1799963'].replace(['GG','AG','AA'], [0,1,2], inplace=True)
df_genetic['rs1801020'].replace(['CC','CT','TT'], [0,1,2], inplace=True)
df_genetic['rs5985'].replace(['GG','GT','TT'], [0,1,2], inplace=True)
df_genetic['rs121909548'].replace(['GG','GT'], [0,1], inplace=True)
df_genetic['rs2232698'].replace(['CC','CT'], [0,1], inplace=True)
df_genetic['rs8176719'].replace(['--','-G','GG'], [0,1,2], inplace=True)
df_genetic['rs7853989'].replace(['CC','CG','GG'], [0,1,2], inplace=True)
df_genetic['rs8176749'].replace(['GG','AG'], [0,1], inplace=True)
df_genetic['rs8176750'].replace(['CC','-C'], [0,1], inplace=True)
df_genetic['rs118203906'].replace(['GG','CG'], [0,1], inplace=True) #
df_genetic['rs268'].replace(['AA','GA'], [0,1], inplace=True) #
df_genetic['rs9363864'].replace(['AA','GA','GG'], [0,1,2], inplace=True) #
df_genetic['rs9332695'].replace(['AA','TA'], [0,1], inplace=True) #
df_genetic['rs4149755'].replace(['TT','TA','AA'], [0,1,2], inplace=True) #
df_genetic['rs1613662'].replace(['AA','GA','GG'], [0,1,2], inplace=True) #
df_genetic['rs2227589'].replace(['CC','TC','TT'], [0,1,2], inplace=True) #
df_genetic['rs1063856'].replace(['AA','GA','GG'], [0,1,2], inplace=True) #
df_genetic['rs3087505'].replace(['CC','TC','TT'], [0,1,2], inplace=True) #
df_genetic['rs45454293'].replace(['GG','GA','AA'], [0,1,2], inplace=True) #
df_genetic['rs1039084'].replace(['GG','GA','AA'], [0,1,2], inplace=True) #
df_genetic['rs169713'].replace(['TT','TC','CC'], [0,1,2], inplace=True) #
df_genetic['rs16861990'].replace(['AA','CA'], [0,1], inplace=True) #
df_genetic['rs1208134'].replace(['AA','GA'], [0,1], inplace=True) #
df_genetic['rs11696364'].replace(['CC','CA','AA'], [0,1,2], inplace=True) #
df_genetic['rs6034465'].replace(['CC','TC','TT'], [0,1,2], inplace=True) #
df_genetic['rs1883888'].replace(['CC','TC','TT'], [0,1,2], inplace=True) #
df_genetic['rs2036914'].replace(['CC','TC','TT'], [0,1,2], inplace=True) #

In [51]:
df_genetic.shape

(381, 31)

In [52]:
df_genetic.head()

,id,excluido,rs1801020,rs8176719,rs7853989,rs8176749,rs8176750,rs2232698,rs121909548,rs6025,rs118203906,rs5985,rs1799963,rs4524,rs268,rs9363864,rs9332695,rs4149755,rs1613662,rs2227589,rs1063856,rs3087505,rs45454293,rs1039084,rs169713,rs16861990,rs1208134,rs11696364,rs6034465,rs1883888,rs2036914
0,19,1,1,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,1,0,1,1,2,0,0,0,0,0,0,2
1,1,0,0,2,0,0,0,0,0,0,0,1,0,1,0,2,1,0,0,1,2,0,0,0,0,0,0,2,0,1,1
3,67,0,1,1,0,0,0,0,0,0,0,0,0,2,0,1,0,0,1,1,2,0,0,1,1,0,0,0,0,2,1
4,91,0,0,1,0,0,1,0,0,0,0,0,0,2,0,1,0,0,1,0,2,0,1,1,1,0,0,0,0,0,1
5,68,0,1,2,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,1

### Clinical-genetic variables

In [53]:
ids = list(set(df_clinical['id'].values) & set(df_genetic['id'].values))
df = df_clinical[df_clinical['id'].isin(ids)].merge(df_genetic[df_genetic['id'].isin(ids)], on=['id','excluido'])
df.shape

(372, 65)

In [54]:
df.head()

,id,excluido,khorana,edatDx,Family,diabetesM,dislip,psIniQT_desc,hemoglobina,leucocits,plaquetes,hta_desc,cateter,cirugiaPrev,estadiGrup_I,estadiGrup_II,estadiGrup_III,estadiGrup_IV,tipusTumor_colon,tipusTumor_pancreas,tipusTumor_pulmon,tipusTumor_esofago,tipusTumor_estomago,sexe_hombre,sexe_mujer,etnia_caucasica,etnia_hispanoamericana,etnia_negra,etnia_otra,bmi_normal,bmi_overweight,bmi_obese,bmi_underweight,fumador_exfumador,fumador_nunca,fumador_activo,rs1801020,rs8176719,rs7853989,rs8176749,rs8176750,rs2232698,rs121909548,rs6025,rs118203906,rs5985,rs1799963,rs4524,rs268,rs9363864,rs9332695,rs4149755,rs1613662,rs2227589,rs1063856,rs3087505,rs45454293,rs1039084,rs169713,rs16861990,rs1208134,rs11696364,rs6034465,rs1883888,rs2036914
0,19,1,2.0,78,0,0,1,1,12.7,6800,169000,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,1,0,1,1,2,0,0,0,0,0,0,2
1,1,0,2.0,50,0,0,0,1,13.0,10900,203000,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,2,0,0,0,0,0,0,0,1,0,1,0,2,1,0,0,1,2,0,0,0,0,0,0,2,0,1,1
2,67,0,1.0,68,0,0,1,1,12.4,7700,194000,1,1,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,2,0,1,0,0,1,1,2,0,0,1,1,0,0,0,0,2,1
3,91,0,0.0,71,0,1,1,1,10.4,8600,284000,1,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,2,0,1,0,0,1,0,2,0,1,1,1,0,0,0,0,0,1
4,68,0,0.0,59,0,0,0,1,12.3,8800,254000,1,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,2,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,1

### Target variable

In [55]:
y = data[data['id'].isin(ids)]['caseAtVisit']
y = pd.Series([1 if x in [0,1] else 0 for x in y])
len(y)

372

In [56]:
y.value_counts()

0    301
1     71
dtype: int64

In [57]:
df['VTE'] = y

In [58]:
df.to_csv(path+'preprocessed_data2.csv', index=False)